.auth {
  position: relative;
  padding-top: 80px;
  min-height: 100vh;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-image: url("../img/auth-bg.svg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .main {
    position: relative;
    z-index: 1;
    &__container {
      padding: 30px 15px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.auth-form {
  position: relative;
  padding: 58px 40px 33px;
  box-shadow: 0px 15px 70px rgba($color-darkblack, 0.15);
  border-radius: 30px;
  column-gap: 18px;
  max-width: 478px;
  width: 100%;

  text-align: center;
  font-weight: 500;
  font-size: 16px;

  background-color: #f9f9f9;

  @include w($sm) {
    padding: 35px 20px;
  }

  &__back {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 7px;
    width: 56px;
    height: 31px;

    background-image: url("../img/arrow-back.svg");
    background-position: center;
    background-size: 25px 15px;
    background-repeat: no-repeat;

    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:focus {
      background-color: rgba($color-light-blue, 0.2);
    }

    &:hover {
      transform: translateX(-5px);
      background-color: rgba($color-light-blue, 0.2);
    }

    @include w($sm) {
      top: 10px;
      left: 0;
    }
  }

  &__title {
    font-family: $font-family;
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 30px;
    line-height: 1.3;
  }

  & #retrieval-form .auth-form__title {
    margin-bottom: 0;
  }

  &__subtitle {
    margin-bottom: 40px;

    color: rgba($color-blue-35, 0.6);
  }

  &__label {
    position: relative;
    display: block;
    width: 100%;
    height: 58px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__input {
  }

  &__text {
    margin-bottom: 20px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: rgba(4, 15, 35, 0.5);

    span {
      display: inline-block;
      margin: 0 12px;

      white-space: nowrap;
    }

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: rgba($color-blue-35, 0.3);
    }
  }

  &__quick-wrapper {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    gap: 18px;
  }

  &__quick {
    border: 1.5px solid rgba($color-blue-35, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    width: 100%;

    font-weight: 600;
    color: rgba($color-blue-35, 0.8);

    transition: background-color 0.3s ease-in-out;

    &::before {
      content: "";
      margin-right: 10px;
      width: 20px;
      height: 20px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &#auth-google {
      &::before {
        background-image: url("../img/google-icon.svg");
      }
    }

    &#auth-facebook {
      &::before {
        background-image: url("../img/facebook-icon.svg");
      }
    }
    &:focus,
    &:hover {
      background-color: rgba($color-light-blue, 0.2);
    }
  }

  &__submit {
    margin-bottom: 26px;
  }

  &__bottom {
    color: rgba($color-blue-35, 0.6);

    &-btn {
      text-decoration: underline;
      color: #0032ff;
    }

    &--authorization {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--retrieval {
      padding-bottom: 50px;
    }
  }
}

.reset-success {
  position: relative;
  padding: 85px 40px;
  box-shadow: 0px 15px 70px rgba($color-darkblack, 0.15);
  border-radius: 30px;
  column-gap: 18px;
  max-width: 478px;
  width: 100%;

  text-align: center;
  font-weight: 500;
  font-size: 16px;

  background-color: #f9f9f9;

  @include w($sm) {
    padding: 35px 20px;
  }

  img {
    margin: 0 auto 12px;
  }

  &__text {
    margin-bottom: 12px;

    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
  }

  &__subtext {
    margin-bottom: 33px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
  }
}
