.footer {
  padding-top: 62px;

  color: $light-color;

  background-color: $color-blue-24;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  &__logo {
    z-index: 0;
  }

  &__middle {
    padding-bottom: 200px;
    display: flex;
    align-items: flex-start;

    @include w($lg) {
      padding-bottom: 25px;
      flex-direction: column;
      align-items: center;

      text-align: center;
    }
  }

  &__section {
    &:not(:last-child) {
      margin-right: auto;

      @include w($lg) {
        margin-bottom: 65px;
        margin-right: 0;
      }
    }

    @include w($lg) {
      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
      }

      &:nth-child(3) {
        order: 2;
      }
    }
  }

  &__country {
    margin-bottom: 5%;

    font-weight: 700;
    font-size: 18px;
    line-height: 55px;

    &--top {
      margin-bottom: 0;
      display: none;
    }

    @include w($lg) {
      &--top {
        display: flex;
      }
    }
  }

  &__country-btn {
    position: relative;
    z-index: 2;
    border-radius: 10px;
    border: 1.5px solid rgba($light-color, 0.4);
    width: 180px;
    height: 50px;

    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 17px;
      height: 12px;
      width: 12px;
      border-left: 2px solid rgba($light-color, 0.4);
      border-bottom: 2px solid rgba($light-color, 0.4);
      transform: translateY(-50%) rotate(-45deg);
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      overflow: visible;
      border: none;

      .footer__country-list {
        border-radius: 10px;
        border: 1px solid rgba($light-color, 0.4);
      }

      .footer__country-item {
        border-bottom: 1px solid rgba($light-color, 0.4);
      }
    }
  }

  &__country-list {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    height: 200%;
    overflow: hidden;
  }

  &__country-item {
    padding-left: 19px;
    display: flex;
    align-items: center;
    height: 50%;
    order: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 55px;
    color: rgba($light-color, 0.8);

    background-color: $color-blue-24;

    &::before {
      content: "";
      margin-right: 12px;
      height: 28px;
      width: 28px;

      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &[data-get-lang="ru"] {
      &::before {
        background-image: url("../img/ru-flag.svg");
      }
    }

    &[data-get-lang="uz"] {
      &::before {
        background-image: url("../img/uz-flag.svg");
      }
    }

    &.active {
      order: -1;
    }
  }

  &__info {
    display: block;
    line-height: 35px;

    @include w($sm) {
      margin-bottom: 10px;
    }
  }

  &__social-title {
    line-height: 55px;

    color: rgba($light-color, 0.8);

    @include w($sm) {
      display: none;
    }
  }

  &__cols {
    display: flex;
    align-items: flex-start;
    gap: 21px;

    @include w($lg) {
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @include w($xsm) {
      justify-content: flex-start;
    }
  }

  &__col {
    width: 155px;

    @include w($md) {
      text-align: left;

      &:last-child {
        width: 100%;
      }
    }
  }

  &__col-title {
    margin-bottom: 32px;

    font-size: 18px;
    line-height: 55px;

    @include w($sm) {
      margin-bottom: 14px;
    }
  }

  &__col-item {
    line-height: 1.2;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__col-link {
    font-weight: 500;
  }

  &__brands {
    max-width: 137px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;

    @include w($lg) {
      display: flex;
      align-items: center;
      max-width: none;
      width: 100%;

      overflow-x: auto;
    }

    img {
      &:last-child {
        grid-column: 1/3;
      }

      @include w($lg) {
        flex-shrink: 0;
        flex-grow: 1;
      }
    }
  }

  &__brands-big {
    grid-column: 2 span;
  }

  &__bottom {
    line-height: 1.2;

    color: rgba($light-color, 0.6);
  }

  &__bottom-inner {
    padding: 20px 0;
    border-top: 2px solid rgba($light-color, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include w($md) {
      display: block;
    }
    @include w($sm) {
      text-align: center;
    }
  }

  &__bottom-links {
    display: flex;
    align-items: center;
    gap: 23px;

    @include w($md) {
      margin-bottom: 20px;
    }

    @include w($sm) {
      margin-bottom: 15px;
      display: block;
    }
  }

  &__bottom-link {
    display: inline-block;
    text-decoration-line: underline;

    &__hover {
      color: $color-darkblack;
    }

    @include w($sm) {
      margin-bottom: 10px;
    }
  }
}

.header--light {
  &__bottom {
    color: rgba($color-blue-35, 0.3);
  }

  &__bottom-inner {
    border-top: 2px solid rgba($color-blue-35, 0.1);
  }
}
