.footer {
  padding-top: 62px;

  color: $light-color;

  background-color: $color-blue-24;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  &__logo {
    z-index: 0;
  }

  &__middle {
    padding-bottom: 200px;
    display: flex;
    align-items: flex-start;

    @include w($lg) {
      padding-bottom: 25px;
      flex-direction: column;
      align-items: center;

      text-align: center;
    }
  }

  &__section {
    &:not(:last-child) {
      margin-right: auto;

      @include w($lg) {
        margin-bottom: 65px;
        margin-right: 0;
      }
    }

    @include w($lg) {
      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
      }

      &:nth-child(3) {
        order: 2;
      }
    }
  }

  &__country {
    margin-bottom: 5%;
    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 18px;
    line-height: 55px;

    &::before {
      content: "";
      margin-right: 12px;
      height: 28px;
      width: 28px;

      background-image: url("../img/uz-flag.svg");

      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--top {
      margin-bottom: 0;
      display: none;
    }

    @include w($lg) {
      display: none;

      &--top {
        display: flex;
      }
    }
  }

  &__info {
    display: block;
    line-height: 35px;
  }

  &__social-title {
    line-height: 55px;

    color: rgba($light-color, 0.8);
  }

  &__cols {
    display: flex;
    align-items: flex-start;
    gap: 21px;

    @include w($lg) {
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @include w($xsm) {
      justify-content: flex-start;
    }
  }

  &__col {
    width: 155px;

    @include w($md) {
      text-align: left;

      &:last-child {
        width: 100%;
      }
    }
  }

  &__col-title {
    margin-bottom: 32px;

    font-size: 18px;
    line-height: 55px;
  }

  &__col-item {
    line-height: 1.2;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__col-link {
    font-weight: 500;
  }

  &__brands {
    max-width: 137px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;

    &-humo {
      transform: translate(6px, 3px) scale(1.28);
    }

    @include w($lg) {
      display: flex;
      align-items: center;
      max-width: none;
      width: 100%;

      overflow-x: auto;

      &-humo {
        transform: translate(0, 0) scale(1);
      }
    }

    img {
      @include w($lg) {
        flex-shrink: 0;
        flex-grow: 1;
      }
    }
  }

  &__brands-big {
    grid-column: 2 span;
  }

  &__bottom {
    line-height: 1.2;

    color: rgba($light-color, 0.6);
  }

  &__bottom-inner {
    padding: 20px 0;
    border-top: 2px solid rgba($light-color, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include w($md) {
      display: block;
    }
  }

  &__bottom-links {
    display: flex;
    align-items: center;
    gap: 23px;

    @include w($md) {
      margin-bottom: 20px;
    }

    @include w($sm) {
      margin-bottom: 0;
      display: block;
    }
  }

  &__bottom-link {
    display: inline-block;
    text-decoration-line: underline;

    &__hover {
      color: $color-darkblack;
    }

    @include w($sm) {
      margin-bottom: 10px;
    }
  }
}

.header--light {
  &__bottom {
    color: rgba($color-blue-35, 0.3);
  }

  &__bottom-inner {
    border-top: 2px solid rgba($color-blue-35, 0.1);
  }
}
