.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 0 10px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: auto;
  }

  &__nav {
    margin-right: auto;

    @include w($lg) {
      width: 100%;
      margin-bottom: 28px;
      margin-right: 0;
    }

    @include w($md) {
      margin-bottom: auto;
    }
  }

  &__button {
    position: relative;
    padding: 10px 3px;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    max-width: 180px;

    &::after {
      content: "";
      margin-left: 5px;
      width: 14px;
      height: 14px;

      background-image: url("../img/log-out.svg");

      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @include w($lg) {
      flex-grow: 0;
    }

    @include w($sm) {
      padding: 12px 3px;
      max-width: none;
      width: 100%;
    }
  }

  &--dash {
    .header__account {
      margin-bottom: 0;
      display: flex;
      align-items: center;

      order: 2;

      .header-account__image {
        margin-right: 10px;
      }

      @include w($xl) {
        font-size: 16px;
      }

      @include w($lg) {
        order: 0;
      }
    }

    .header__button {
      display: none;

      @include w($lg) {
        display: block;
      }
    }
  }

  &--main {
    .nav__link {
      @include w($lg) {
        font-weight: 500;
        font-size: 28px;
        line-height: 1.2;
      }
    }
    .header__buttons {
      display: flex;
      justify-content: flex-end;
      gap: 9px;

      @include w($lg) {
        flex-direction: column;
        justify-content: center;
        width: 100%;
      }
    }

    .header__button {
      font-size: 16px;

      &:not(.main-button--without-border) {
        &::after {
          display: none;
        }

        @include w($lg) {
          border-color: transparent;

          order: 1;
          background-image: radial-gradient(
            circle,
            rgba(112, 139, 255, 1) 0%,
            rgba(58, 95, 250, 1) 80%
          );
        }
      }
    }

    .header__button.main-button--without-border {
      max-width: 120px;

      @include w($lg) {
        order: 2;
        border: 2px solid rgba($light-color, 0.8);
        max-width: none;
        width: 100%;

        color: $light-color;

        &::after {
          display: none;
        }
      }
    }
  }
}

.header-account {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  &__image {
    margin-right: 20px;
    border-radius: 100%;
    width: 53px;
    height: 53px;
  }

  &__mail {
    color: rgba($light-color, 0.8);
  }

  &__balance {
    color: $light-color;

    span {
      font-weight: 600;
    }
  }

  &--small {
    font-size: 14px;

    .header-account__image {
      height: 46px;
      width: 46px;
    }
  }
}

.header__account {
  display: none;
  margin-bottom: 15px;

  @include w($lg) {
    display: flex;
  }
}

.header__mob {
  display: none;
  @include w($lg) {
    position: relative;
    display: block;
    z-index: 301;
  }
}

.header__desc {
  @include w($lg) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    padding: 150px 0 30px;
    width: 100%;
    height: 100%;
    background-image: url("../img/nav-bg.svg");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0;
    visibility: hidden;

    overflow-y: auto;
    will-change: opacity;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in-out;
  }

  .container {
    @include w($lg) {
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
    }
  }

  .logo {
    @include w($lg) {
      display: none;
    }
  }
}

.header__desc.active {
  opacity: 1;
  visibility: visible;
}
