.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  height: 100%;
  width: 100%;

  background-image: url("../img/loader-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 1;
  visibility: visible;
  transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 1150px;
  }

  img {
    margin-bottom: 15px;
  }

  &__text {
    text-transform: uppercase;
    text-align: center;

    font-weight: 400;
    font-size: 37.3px;
    line-height: 1.2;
    color: $light-color;

    @include w($md) {
      font-size: 21px;
    }
  }
}
