.tariff-card {
  padding: 32px 20px 20px;
  border-radius: 25px;
  width: 328px;

  @include w($xsm) {
    width: 300px;
  }

  &__title {
    margin-bottom: 30px;

    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: $color-blue-35;
  }

  &__price {
    margin-bottom: 15px;

    text-align: center;
    font-size: 18px;
    color: rgba($color-blue-24, 0.6);

    span {
      display: block;
      font-size: 70px;
      line-height: 1;
      color: $color-blue-35;
    }
  }

  &__list {
    margin: 0 auto 55px;
    max-width: 224px;
  }

  &__line {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 18px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &::before {
      content: "";
      margin-right: 12px;
      width: 14px;
      height: 9px;

      background-image: url("../img/check-blue.svg");

      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &--disable {
      color: rgba($color-blue-24, 0.4);

      &::before {
        background-image: url("../img/check-gray.svg");
      }
    }
  }

  &--primary {
    color: $light-color;

    background-image: url("../img/tariff-item-bg.svg");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .tariff-card__title {
      color: $light-color;
    }

    .tariff-card__price {
      color: rgba($light-color, 0.6);
      span {
        color: $light-color;
      }
    }

    .tariff-card__line {
      color: rgba($light-color, 0.8);
    }
  }
}
