.tariff-card {
  position: relative;
  padding: 32px 20px 20px;
  border-radius: 25px;
  width: 365px;

  @include w($xsm) {
    width: 300px;
  }

  &__title {
    margin-bottom: 30px;

    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: $color-blue-35;
  }

  &__price {
    position: relative;
    margin-bottom: 15px;

    text-align: center;
    font-size: 18px;
    color: rgba($color-blue-24, 0.6);

    &-amount {
      font-size: 70px;
      line-height: 1;
      color: $color-blue-35;
    }

    &-currency {
      font-size: 30px;
      line-height: 1;
      color: $color-blue-35;
    }

    &-text {
      display: block;
      font-weight: 600;
      font-size: 18px;
    }
  }

  &__list {
    margin: 0 auto 55px;
  }

  &__line {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 18px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &::before {
      content: "";
      margin-right: 12px;
      width: 14px;
      height: 9px;

      background-image: url("../img/check-blue.svg");

      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &--disable {
      color: rgba($color-blue-24, 0.4);

      &::before {
        background-image: url("../img/check-gray.svg");
      }
    }
  }

  &__discount {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 10px 23px;
    border-radius: 20px;
    display: block;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: $light-color;

    background-image: linear-gradient(
      270.38deg,
      #32af99 0.66%,
      #138571 142.25%
    );

    transform: translate(-50%, -50%);
  }

  &__price-old {
    position: absolute;
    top: -10px;
    right: 70px;
    width: 30px;
    height: 30px;

    text-decoration: line-through;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.2;
    color: rgba($light-color, 0.3);
  }

  &--primary {
    color: $light-color;

    background-image: url("../img/tariff-item-bg.svg");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .tariff-card__title {
      color: $light-color;
    }

    .tariff-card__price {
      color: rgba($light-color, 0.6);
      &-amount,
      &-currency {
        color: $light-color;
      }

      &-text {
        color: rgba($light-color, 0.6);
      }
    }

    .tariff-card__line {
      color: rgba($light-color, 0.8);
    }
  }

  &__no-money {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: none;
    width: 100%;
    height: 100%;

    &:hover + .tariff-card__form .tariff-card__submit {
      animation-name: hvr-pulse;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
}
