.top-section {
  padding-top: 24vh;
  min-height: 589px;

  background-image: url("../img/auth-bg.svg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    font-weight: 600;
    font-size: 55px;
    line-height: 1.1;
    color: $light-color;

    span {
      color: $color-light-blue;
    }

    @include w($lg) {
      font-size: 30px;
    }
  }

  &__search {
    margin-top: 22px;
  }

  @include w($lg) {
    padding-top: 18vh;
    min-height: 489px;
  }

  @include w($md) {
    padding-top: 170px;
  }

  @include w($sm) {
    padding-top: 130px;
  }
}
