.top-section {
  padding-top: 24vh;
  min-height: 589px;

  background-image: url("../img/auth-bg.svg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    font-size: 55px;
    line-height: 1.1;
    color: $light-color;

    @include w($lg) {
      font-size: 30px;
    }
  }

  @include w($lg) {
    min-height: 489px;
  }
}
