<header class="header">
  <div class="header__desc">
    <div class="container header__container">
      <a class="logo header__logo" href="#">
        <img src="./img/logo.svg" alt="логотип statbook">
      </a>

      <div class="header-account header__account">
        <img class="header-account__image" src="./img/account-image.svg" alt="фото профиля">
        <div class="header-account__info">
          <div class="header-account__mail">
            trifonova03@gmail.com
          </div>
          <div class="header-account__balance">
            Баланс: <span class="account-balance">50 млн</span>. сум
          </div>
        </div>
      </div>

      <nav class="nav header__nav nav--profile">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="./product-report.html" class="nav__link link-effect">
              Анализ товара
            </a>
          </li>
          <li class="nav__item">
            <a href="./category-report.html" class="nav__link link-effect">
              Анализ категорий
            </a>
          </li>
          <li class="nav__item">
            <a href="./shop-report.html" class="nav__link link-effect">
              Анализ магазина
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link link-effect nav__link active">
              Мой профиль
            </a>
          </li>
          <li class="nav__item nav__item--extension" data-graph-path="extension-modal">
            <button class="btn-reset">
              Расширение
              <span class="beta__text">beta</span>
            </button>
          </li>
        </ul>
      </nav>

      <button class="header__lang btn-reset" type="button" data-set-lang="ru">
        <span class="header__lang-ru">ru</span>
        <span class="header__lang-uz">uz</span>
      </button>
      <button type="button" class="header__button main-button main-button--stroke-white btn-reset">
        Выйти
      </button>
    </div>
  </div>

  <div class="header__mob">
    <div class="container header__container">
      <a class="logo header__logo" href="#">
        <img src="./img/logo.svg" alt="логотип statbook">
      </a>

      <button type="button" class="header__menu-btn menu-btn btn-reset">
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
