<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="change-tariff-modal">
    <button class="btn-reset graph-modal__close change-tariff-modal__close"
      aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="tariff-modal">
        <div class="tariff-modal__title">
          Продление вашего тарифа
        </div>
        <form action="#" class="tariff-modal__form">
          <legend class="tariff-modal__form-title">
            Выберите нужный тариф для продления:
          </legend>
          <div class="scrollbar-wrapper" data-simplebar>
            <ul class="tariff-modal__list">
              <li class="tariff-modal__item">
                <label class="custom-checkbox">
                  <input type="radio" name="tariff" value="standard" class="custom-checkbox__field visually-hidden"
                    required>
                  <span class="custom-checkbox__content">
                    <div class="tariff-radio">
                      <span class="tariff-radio__circle"></span>
                      <div class="tariff-radio__title">
                        Тариф - Standart
                      </div>
                      <div class="tariff-radio__price">
                        <span>15к</span>/мес
                      </div>
                    </div>
                  </span>
                </label>
              </li>
              <li class="tariff-modal__item">
                <label class="custom-checkbox">
                  <input type="radio" name="tariff" value="medium" class="custom-checkbox__field visually-hidden"
                    required>
                  <span class="custom-checkbox__content">
                    <div class="tariff-radio">
                      <span class="tariff-radio__circle"></span>
                      <div class="tariff-radio__title">
                        Тариф - Medium
                      </div>
                      <div class="tariff-radio__price">
                        <span>20к</span>/мес
                      </div>
                    </div>
                  </span>
                </label>
              </li>
              <li class="tariff-modal__item">
                <label class="custom-checkbox">
                  <input type="radio" name="tariff" value="high" class="custom-checkbox__field visually-hidden"
                    required>
                  <span class="custom-checkbox__content">
                    <div class="tariff-radio">
                      <span class="tariff-radio__circle"></span>
                      <div class="tariff-radio__title">
                        Тариф - High
                      </div>
                      <div class="tariff-radio__price">
                        <span>35к</span>/мес
                      </div>
                    </div>
                  </span>
                </label>
              </li>
            </ul>
          </div>
          <legend class="tariff-modal__form-title">
            Выберите нужный срок продления:
          </legend>
          <div class="scrollbar-wrapper" data-simplebar>
            <ul class="tariff-modal__term-list">
              <li class="tariff-modal__term-item">
                <label class="custom-checkbox">
                  <input type="radio" name="term" value="7day" class="custom-checkbox__field visually-hidden" required>
                  <span class="custom-checkbox__content">
                    <div class="term-radio">
                      7 дней
                    </div>
                  </span>
                </label>
              </li>
              <li class="tariff-modal__term-item">
                <label class="custom-checkbox">
                  <input type="radio" name="term" value="14day" class="custom-checkbox__field visually-hidden" required>
                  <span class="custom-checkbox__content">
                    <div class="term-radio">
                      14 дней
                    </div>
                  </span>
                </label>
              </li>
              <li class="tariff-modal__term-item">
                <label class="custom-checkbox">
                  <input type="radio" name="term" value="30day" class="custom-checkbox__field visually-hidden" required>
                  <span class="custom-checkbox__content">
                    <div class="term-radio">
                      Месяц
                    </div>
                  </span>
                </label>
              </li>
              <li class="tariff-modal__term-item">
                <label class="custom-checkbox">
                  <input type="radio" name="term" value="90day" class="custom-checkbox__field visually-hidden" required>
                  <span class="custom-checkbox__content">
                    <div class="term-radio">
                      3 месяца
                    </div>
                  </span>
                </label>
              </li>
            </ul>
          </div>

          <div class="tariff-modal__bottom">
            <div class="tariff-modal__price">
              Сумма: <span>70к</span>
            </div>
            <button type="submit" class="tariff-modal__submit btn-reset main-button">
              Продлить тариф
            </button>
            <div class="tariff-modal__checkbox agreement-checkbox">
              <label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field visually-hidden" required>
                <span class="custom-checkbox__content">
                </span>
              </label>
              <div class="agreement-checkbox__text">
                Я подтверждаю, что ознакомился с разделом <a href="./index.html">Вопросы и ответы</a>. Я
                понимаю, что приобретаю и согласен с условиями <a href="./privat-policy">пользовательского
                  соглашения</a>.
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- здесь добавить класс active для всплывашки -->
      <div class="tariff-success">
        <img class="tariff-success__icon" src="./img/success.svg" alt="Ваш тариф успешно продлен!">
        <div class="tariff-success__text">
          Ваш тариф успешно продлен!
        </div>
        <a href="#" class="tariff-success__button main-button btn-reset">
          Перейти к аналите
        </a>
      </div>
    </div>
  </div>
  <div class="graph-modal__container no-money-wrapper" role="dialog" aria-modal="true"
    data-graph-target="no-money-modal">
    <button class="btn-reset graph-modal__close change-tariff-modal__close"
      aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="no-money">
        <div class="no-money__title">
          На вашем счету недостаточно средств
        </div>
        <p class="no-money__text">
          Анализируйте рынок эффективнее с помощью нашего инновационного метода сбора информаци и мы предоставляем весь
          спектр данных
        </p>

        <div class="no-money__buttons">
          <button class="btn-reset main-button no-money__button">
            Пополнить
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="graph-modal__container tariff-confirm-wrapper" role="dialog" aria-modal="true"
    data-graph-target="tariff-confirm-modal">
    <button class="btn-reset graph-modal__close change-tariff-modal__close"
      aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="tariff-confirm">
        <div class="tariff-confirm__title">
          Вы подтверждаете смену тарифа на <span class="tariff-confirm-name"></span>
        </div>

        <div class="tariff-confirm__buttons">
          <button class="btn-reset main-button tariff-confirm__button" data-tariffid>
            Подтверждаю
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
