.analytics-charts {
  &__title {
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 141.5%;
    color: rgba($color-darkblack, 0.6);
  }

  &__list {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;

    @include w($lg) {
    }
  }

  &__item {
    position: relative;
    padding: 24px 28px;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    flex: 0 1 32.333%;

    background-color: $light-color;

    &--sale {
      .analytics-charts__item-title::before {
        background-image: url("../img/analytics-item-sale.svg");
      }
    }

    &--proceeds {
      .analytics-charts__item-title::before {
        background-image: url("../img/analytics-item-proceeds.svg");
      }
    }

    &--average {
      .analytics-charts__item-title::before {
        background-image: url("../img/analytics-item-average.svg");
      }
    }

    @include w($lg) {
      flex-basis: 49%;
    }

    @include w($md) {
      flex-basis: 100%;
    }
  }

  &__item-info {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 24px;
    width: 24px;

    background-image: url("../img/info-icon.svg");

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__item-title {
    margin-bottom: 12px;
    display: flex;
    align-items: center;

    font-size: 18px;
    line-height: 141.5%;
    color: rgba($color-blue-35, 0.8);

    &::before {
      content: "";
      margin-right: 10px;
      border-radius: 100%;
      height: 42px;
      width: 42px;

      background-color: $color-blue;
      background-position: center;
      background-size: 24px 24px;
      background-repeat: no-repeat;
    }
  }

  &__item-amount {
    font-size: 20px;
    line-height: 141.5%;
    color: rgba($color-blue-35, 0.6);

    span {
      font-size: 58px;
      line-height: 141.5%;
      color: $color-blue-35;
    }
  }

  &__line {
    margin-bottom: 14px;
    padding: 29px 39px;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
    border-radius: 15px;

    background-color: $light-color;

    @include w($xsm) {
      padding: 29px 15px;
    }
  }

  &__top {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__line-title {
    font-size: 18px;
    line-height: 141.5%;
    color: rgba($color-blue-35, 0.8);
  }

  &__line-profit {
    padding: 4px 20px;
    border-radius: 7px;

    font-weight: 700;
    font-size: 18px;
    line-height: 141.5%;
    color: $light-color;

    background-image: linear-gradient(
      271.51deg,
      #224dff -15.26%,
      #1844fb 4.55%,
      #244fff 77.97%,
      #0132fc 96.61%,
      #0032ff 96.61%
    );
  }
}

.chart-container {
  width: 100%;

  overflow-x: auto;

  @include w($xl) {
    padding-bottom: 15px;
  }
}

.chart-span {
  margin-bottom: 10px;
  display: block;

  font-family: $secondary-font-family;
  font-size: 14px;
  line-height: 141.5%;
  color: rgba($color-blue-35, 0.25);
}

.chart-wrapper {
  position: relative;
  height: 220px;
  width: 1090px;
}
