.category-analytics {
  &__title {
    margin-bottom: 7px;

    font-size: 18px;
    line-height: 141.5%;
    color: rgba($color-darkblack, 0.6);
  }

  &__line {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
}

.analytics-line {
  padding: 30px 40px 35px;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
  border-radius: 15px;

  background-color: $light-color;

  &__top {
    margin-bottom: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__positions {
    padding: 4px 14px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 141.5%;
    color: $light-color;

    background-image: linear-gradient(
      271.51deg,
      #224dff -15.26%,
      #1844fb 4.55%,
      #244fff 77.97%,
      #0132fc 96.61%,
      #0032ff 96.61%
    );
    &::after {
      content: "";
      // margin-left: 5px;
      display: block;
      // height: 15px;
      // width: 13px;
      height: 20px;
      width: 20px;

      background-image: url("../img/arrow-up.svg");

      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &--down {
      background-image: linear-gradient(
        270.38deg,
        #ac3f3f 0.66%,
        #da4444 142.25%
      );

      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;

    width: 80%;
    white-space: nowrap;

    font-size: 18px;
    line-height: 141.5%;
    color: rgba($color-blue-35, 0.8);

    @include w($md) {
      margin-bottom: 14px;
      width: 100%;
    }
  }

  &__title-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__content {
    padding-bottom: 12px;
    width: 100%;

    overflow-x: auto;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 21px;
  }

  &__item {
    position: relative;
    padding-right: 24px;
  }

  &__item-number {
    text-align: center;

    font-size: 35px;
    line-height: 141.5%;
    color: rgba($color-blue-35, 0.7);
  }

  &__item-profit {
    position: absolute;
    top: 5px;
    right: 0;

    font-size: 15px;
    line-height: 141.5%;

    &--up {
      color: #32af99;
    }

    &--down {
      color: $color-error;
    }
  }

  &__item-date {
    font-family: $secondary-font-family;
    font-size: 14px;
    line-height: 141.5%;
    color: rgba($color-blue-35, 0.25);
  }

  &__spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;

    svg {
      width: 24px;
      height: 100%;
    }
  }
}
