.main-section {
  &__container {
    padding: 0;
  }

  &__wrapper {
    margin-top: -125px;
    padding: 65px 70px 90px;

    @include w($lg) {
      padding-left: 14px;
      padding-right: 14px;
    }

    @include w($sm) {
      padding-top: 39px;
      padding-bottom: 55px;
    }
  }

  &__inner {
    position: relative;
    padding-top: 28px;
    border-radius: 15px;
    background-color: #fff;
  }

  &__inner-table {
    padding: 0 40px;

    @include w($sm) {
      padding: 0 10px;
    }

    @include w($xsm) {
      padding: 0;
    }
  }

  &__top {
    padding: 0 40px;

    @include w($sm) {
      padding: 0 10px 0;
    }

    @include w($xsm) {
      padding: 0;
    }
  }

  &__switcher {
    margin: 0 auto 46px;
    max-width: 400px;

    background-color: $light-color;

    @include w($md) {
      margin-bottom: 70px;
    }
  }

  &--category {
    padding-bottom: 190px;

    @include w($md) {
      padding-bottom: 97px;
    }
  }
}

[data-page-type="product"] {
  .main-section__inner {
    padding-top: 0;
    border-radius: 0;
    background-color: transparent;
  }
}

.main-section.analytics-chart {
  padding-top: 0;
  border-radius: 0;
  background-color: transparent;
}
