.table-container {
  position: relative;
  margin: 0 -40px;
  padding: 0 40px;
  padding-bottom: 90px;
  will-change: height, padding;

  overflow: hidden;

  // transition: padding 0.3s ease-in-out, height 0.3s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 51px;

    background-color: #f7f7f8;
  }

  &.hidden {
    padding-bottom: 0;
  }
}

.table-wrapper {
  position: relative;
  max-height: 1050px;
  overflow: auto;

  .simplebar-track {
    opacity: 0;

    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    .simplebar-track {
      opacity: 1;
    }
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  &__header {
    text-align: left;
  }

  &__filter-button {
    display: flex;
    align-items: center;

    &::after {
      content: "";
      margin-left: 4px;
      height: 12px;
      width: 12px;

      background-image: url("../img/filter-icon.svg");

      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  img {
    border-radius: 10px;
  }
}

th {
  position: sticky;
  top: 0;
  z-index: 20;
  padding: 12px 50px 12px 10px;
  white-space: nowrap;

  background-color: #f7f7f8;
}

tr {
  text-align: left;

  white-space: nowrap;

  &:not(:first-child),
  &:not(:last-child) {
    border-bottom: 1px solid rgba($color-blue-35, 0.05);
  }
}

td {
  padding: 35px 50px 35px 10px;
  border: none;

  white-space: normal;
  max-width: 300px;
  width: 100%;

  a {
    text-decoration: underline;
    color: $color-blue;
  }
}
