.main-section {
  &__container {
    padding: 0;
  }

  &__wrapper {
    margin-top: -125px;
    padding: 65px 70px 90px;

    @include w($lg) {
      padding-left: 14px;
      padding-right: 14px;
    }

    @include w($sm) {
      padding-top: 39px;
    }
  }

  &__switcher {
    margin: 0 auto 46px;
    max-width: 400px;

    background-color: $light-color;
  }

  &--shop {
    .main-section__switcher {
      @include w($md) {
        margin-bottom: 183px;
      }
    }
  }

  &--category {
    .main-section__switcher {
      margin-bottom: 70px;
    }
  }
}

.main-section .custom-tabs {
  &__nav-wrapper {
    margin: 0 auto 65px;
    box-shadow: 0px 9px 32px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: 910px;

    overflow-x: auto;

    @include w(1100px) {
      width: 100%;
    }

    @include w($md) {
      margin-bottom: 35px;
    }
  }

  &__nav {
    position: relative;
  }

  &__nav-btn {
    &--active {
      color: $light-color;
    }

    &:focus {
      color: $light-color;
      background-color: transparent;
    }
  }

  &__content {
    position: relative;
    // height custom-tabs__content in modalAndCustomTabs function
  }

  &__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    opacity: 0;
    visibility: hidden;
    will-change: opacity, visibility;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }
}
