.shop-report {
  padding: 28px 40px 0;
  border-radius: 15px;

  background-color: $light-color;

  @include w($md) {
    position: relative;

    .custom-select-opener {
      height: 52px;
    }

    .custom-select-panel {
      top: 50%;
    }
  }

  @include w($sm) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__top {
    padding-bottom: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include w($sm) {
      padding-bottom: 29px;
    }
  }

  &__category {
    font-family: $secondary-font-family;
  }

  &__category-title {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    gap: 7px;

    font-weight: 600;
    font-size: 18px;
    line-height: 141.5%;
    color: $color-blue-35;
  }

  &__category-info {
    height: 24px;
    width: 24px;

    background-image: url("../img/info-icon.svg");

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__breadcrumbs-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 141.5%;
    color: rgba($color-blue-35, 0.6);

    &:not(:last-child) {
      &::after {
        content: " / ";
      }
    }
  }

  &__buttons {
    max-width: 220px;
    width: 100%;

    @include w($md) {
      position: absolute;
      top: -115px;
      left: 0;
      max-width: none;
      width: 100%;
      height: 100px;
    }
  }

  &__report-btn {
    margin-bottom: 7px;

    svg {
      margin-left: 9px;
      width: 24px;
      height: 24px;
    }
  }

  &__hide {
    margin-bottom: 32px;
  }

  &--category {
    .shop-report__buttons {
      top: -57px;
    }
  }
}
