.change-tariff {
  padding: 90px 0 200px;

  @include w($sm) {
    padding: 39px 0 70px;
  }

  &__container {
    @include w($sm) {
      padding: 0;
    }
  }

  &__title {
    margin: 0 auto 78px;
    max-width: 500px;

    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    color: $color-blue-35;

    @include w($sm) {
      margin-bottom: 40px;
      padding: 0 15px;
      max-width: 300px;

      font-size: 27px;
    }
  }

  &__switcher {
    margin: 0 auto 65px;
    max-width: 258px;

    @include w($sm) {
      margin-bottom: 10px;
    }
  }

  &__switch {
    font-weight: 500;
  }

  &__list {
    &::-webkit-scrollbar {
      height: 7px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: $color-blue;
    }

    padding: 0 50px;
    padding-bottom: 32px;
    margin: 0 auto;
    box-shadow: 0px 15px 70px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
    gap: 35px;

    background-color: $color-gray;

    @include w(1300px) {
      padding: 0 15px 32px;
      gap: 15px;
    }

    @include w($xl) {
      width: 100%;
      padding: 25px 10px 32px;
      box-shadow: none;
      background-color: transparent;

      overflow-x: auto;
    }

    @include w($md) {
      justify-content: flex-start;
    }

    @include w($sm) {
      padding: 45px 10px 10px;
      border-radius: 0;
      gap: 14px;
    }
  }

  &__item {
    margin-top: -30px;

    &.no-money {
      .tariff-card__no-money {
        display: block;
      }
    }

    @include w($xl) {
      margin-top: 0;
    }
  }

  &.hidden {
    display: none;
  }

  .custom-tabs__panel {
    text-align: center;
  }
}
