.refer {
  margin-bottom: 190px;

  &__top {
    margin-bottom: 68px;
    padding: 45px 0 33px;
    border-radius: 15px;
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.05);
    background-color: $light-color;

    @include w($sm) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__legend {
    margin-bottom: 9px;

    font-weight: 600;
    line-height: 141.5%;
    color: rgba($color-blue-35, 0.8);
    font-size: 18px;
    text-align: center;
  }

  &__label {
    margin: 0 auto 25px;
    display: block;
    max-width: 512px;
    width: 100%;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__input {
    padding: 12px 30px;
    border-radius: 12px;
    border: 2px solid rgba($color-blue-35, 0.1);
    display: block;
    width: 100%;

    &::placeholder {
      color: rgba($color-blue-35, 0.9);
      font-size: 14px;
      font-weight: 500;
    }
  }

  &__copy {
    width: 62px;
    height: 56px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__top-info {
    position: relative;
    padding-left: 35px;
    margin: 50px auto 0;
    max-width: 520px;
    width: 100%;

    color: rgba($color-blue-35, 0.8);
    font-size: 14px;
    font-weight: 500;
    line-height: 141.5%;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;

      background-image: url("../img/warning.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    a {
      color: rgba($color-blue, 0.8);
    }
  }

  &__stat-title {
    margin-bottom: 30px;

    text-align: center;
    color: rgba($color-darkblack, 0.6);
    font-size: 18px;
    font-weight: 600;
    line-height: 141.5%;
  }

  &__list {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;

    @include w($sm) {
      margin-bottom: 9px;
      gap: 9px;
    }
  }

  &__item {
    position: relative;
    padding: 24px 28px;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    flex: 0 1 32.333%;

    background-color: $light-color;

    &--all {
      .refer__item-title::before {
        background-image: url("../img/analytics-item-sale.svg");
      }
    }

    &--balance {
      .refer__item-title::before {
        background-image: url("../img/analytics-item-proceeds.svg");
      }
    }

    &--out {
      .refer__item-title::before {
        background-image: url("../img/analytics-item-average.svg");
      }
    }

    @include w($lg) {
      flex-basis: 49%;
    }

    @include w($md) {
      flex-basis: 100%;
    }
  }

  &__item-info {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 24px;
    width: 24px;

    background-image: url("../img/info-icon.svg");

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__item-title {
    margin-bottom: 12px;
    display: flex;
    align-items: center;

    font-size: 18px;
    line-height: 141.5%;
    color: rgba($color-blue-35, 0.8);

    &::before {
      content: "";
      margin-right: 10px;
      border-radius: 100%;
      height: 42px;
      width: 42px;

      background-color: $color-blue;
      background-position: center;
      background-size: 24px 24px;
      background-repeat: no-repeat;
    }
  }

  &__item-amount {
    font-size: 20px;
    line-height: 141.5%;
    color: rgba($color-blue-35, 0.6);

    span {
      font-size: 58px;
      line-height: 141.5%;
      color: $color-blue-35;
    }
  }

  &__message {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    line-height: 141.5%;
    color: rgba($color-blue-35, 0.5);
    font-size: 18px;
  }
}

.refer-table {
  padding: 36px 40px 53px 30px;
  border-radius: 10px;
  background-color: $light-color;

  &__inner {
    overflow-y: auto;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 58px;

    color: $color-blue-35;
    font-size: 18px;
    font-weight: 500;
    line-height: 141.5%;
  }

  &__grid {
    width: 1100px;
  }

  &__row-header {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    color: rgba($color-blue-35, 0.5);
    font-size: 16px;
    font-weight: 500;
    line-height: 134.5%;
  }

  &__sort-button {
    padding-right: 32px;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      margin-left: 20px;
      height: 12px;
      width: 7px;

      background-image: url("../img/sort-icon-refer.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__row {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid rgba($color-blue-35, 0.1);
    }
  }

  &__item {
    color: rgba($color-blue-35, 0.8);
    font-size: 14px;
    font-weight: 500;
    line-height: 141.5%;
  }
}

.refer-table--withdrawal {
  .refer-table__row-header {
    grid-template-columns: repeat(2, 1fr);
  }

  .refer-table__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
