.top-up {
  padding: 30px 40px;
  box-shadow: 0px 4px 60px rgba($color-darkblack, 0.05);
  border-radius: 15px;

  background-color: $light-color;

  @include w($lg) {
    padding: 30px 30px 60px;
  }

  &__title {
    margin-bottom: 37px;
    display: flex;
    align-items: center;

    font-size: 30px;
    line-height: 141.5%;
    color: rgba($color-blue-35, 0.8);

    &::before {
      content: "";
      margin-right: 17px;
      height: 42px;
      width: 42px;

      background-image: url("../img/top-up-icon.svg");

      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @include w($md) {
      font-size: 24.5px;
    }
  }

  &__inputs {
    margin-bottom: 17px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 12px;
    max-width: 945px;

    @include w($lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__label {
    height: 58px;
    width: 100%;

    background-color: $light-color;

    @include w($lg) {
      grid-column: 2 span;
    }

    @include w($sm) {
      grid-column: 4 span;
    }
  }

  &__submit {
    @include w($lg) {
      grid-column: 4 span;
    }
  }

  &__text {
    position: relative;
    margin-bottom: 43px;
    padding-left: 32px;

    font-family: $secondary-font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: rgba($color-blue-35, 0.6);

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      height: 24px;
      width: 24px;

      background-image: url("../img/warning.svg");

      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @include w($sm) {
      display: none;
    }
  }

  &__text-mob {
    display: none;

    @include w($sm) {
      margin-bottom: 0;
      padding-bottom: 68px;
      border-bottom: 2px solid rgba($color-blue-35, 0.1);
      display: block;
      grid-column: 4 span;
    }
  }

  &__checkbox {
    padding-top: 24px;
    border-top: 2px solid rgba($color-blue-35, 0.1);
  }
}
