<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="extension-modal">
    <button class="btn-reset graph-modal__close change-tariff-modal__close"
      aria-label="Закрыть модальное окно"></button>


    <div class="graph-modal__content extension-modal">
      <div class="extension-modal__title">
        Установите наше расширение в <a href="#" target="_blank">интернет-магазин chrome</a>
      </div>
      <div class="extension-modal__tutorial-title">
        Инструкция по установке
      </div>
      <ul class="extension-modal__tutorial-list">
        <li class="extension-modal__tutorial-item">
          <div class="extension-modal__tutorial-item-number">1</div>
          <div class="extension-modal__tutorial-item-text">
            Перейдите на страницу нашего расширения и установите его - <a href="#" target="_blank">cсылка на
              расширение</a>
          </div>
        </li>
        <li class="extension-modal__tutorial-item">
          <div class="extension-modal__tutorial-item-number">2</div>
          <div class="extension-modal__tutorial-item-text">
            Перейдите на сайт uzum.uz. В списке расширений найдите наше и нажмите на иконку. В открывшемся окне введите
            ваш
            api-ключ и нажмите
            войти
          </div>
        </li>
        <li class="extension-modal__tutorial-item">
          <div class="extension-modal__tutorial-item-number">3</div>
          <div class="extension-modal__tutorial-item-text">
            После успешной авторизации вы можете начать работу с нашим расширением. Приятной работы!
          </div>
        </li>
      </ul>
      <div class="extension-modal__buttons">
        <a href="#" class="btn-reset main-button extension-modal__button" target="_blank">
          Установить расширение
        </a>
      </div>
      <div class="extension-modal__api-key">
        <div class="extension-modal__api-key-title">
          Ваш api-ключ
        </div>
        <div class="extension-modal__api-key-value">
          1234567890
        </div>
        <button class="extension-modal__api-key-copy main-button btn-reset">Скопировать api-ключ</button>
      </div>
    </div>
  </div>
</div>
