<footer class="footer-small">
  <div class="container footer-small__container">
    <div class="footer-small__top">
      <div class="footer-small__links">
        <a href="./privacy-policy.html" class="footer-small__link">Политика конфиденциальности</a>
        <a href="./terms.html" class="footer-small__link">Пользовательское соглашение</a>
      </div>
      <div class="footer-small__copy">
        Statbook 2023 Все права защищены
      </div>
    </div>
    <div class="footer-small__bottom">
      <div class="footer-small__disc footer-disc">
        <p>
          Этот веб-сайт никак не связан с ИП ООО «UZUM MARKET» или аффилированными c ним компаниями.
        </p>

        <p>
          Упоминание товарных знаков, зарегистрированных третьими лицами, на этом сайте является только информационным и
          не подразумевает никакого одобрения, аффилиации, спонсорства или связи с этими компаниями. Все товарные знаки
          являются собственностью их соответствующих владельцев.
        </p>

        <p>
          Statbook.uz оставляет за собой право вносить изменения на веб-сайте и его содержимом, продуктах или услугах,
          описанных на веб-сайте в любое время без предварительного уведомления.
        </p>
      </div>
      <div class="footer-disc__copy">
        Copyright © 2023 ООО "Statbook Group". Все права защищены.
      </div>
    </div>
  </div>
</footer>
