<footer class="footer">
  <div class="container footer__container">
    <div class="footer__top">
      <a href="./inadex.html" class="logo footer__logo">
        <img src="./img/logo.svg" alt="логотип statbook">
      </a>

      <div class="footer__country footer__country--top">
        Uzbekistán
      </div>
    </div>
    <div class="footer__middle">
      <div class="footer__section">
        <div class="footer__country">
          Uzbekistán
        </div>
        <a href="tel:+442087771111" class="footer__info link-effect">
          +44 208 777 1111
        </a>
        <a href="mailto:statbook@gmail.com" class="footer__info link-effect">
          statbook@gmail.com
        </a>
        <a href="t.me/@statbookmanager" class="footer__info link-effect">
          @statbookmanager
        </a>

        <div class="footer__social">
          <div class="footer__social-title">
            Следите за нами:
          </div>
          <ul class="footer__social-list social-list">
            <li class="social-list__item">
              <a href="#" class="social-list__link link-icon">
                <img src="img/facebook.svg" alt="ссылка на facebook">
              </a>
            </li>
            <li class="social-list__item">
              <a href="#" class="social-list__link link-icon">
                <img src="img/instagram.svg" alt="ссылка на instagram">
              </a>
            </li>
            <li class="social-list__item">
              <a href="#" class="social-list__link link-icon">
                <img src="img/telegram.svg" alt="ссылка на telegram">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__section">
        <div class="footer__cols">
          <div class="footer__col">
            <div class="footer__col-title">
              Обучение:
            </div>
            <ul class="footer__col-list">
              <li class="footer__col-item">
                <a href="#" class="footer__col-link link-effect">
                  Видео-уроки
                </a>
              </li>
              <li class="footer__col-item">
                <a href="#" class="footer__col-link link-effect">
                  Блог
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__col">
            <div class="footer__col-title">
              Продукты:
            </div>
            <ul class="footer__col-list">
              <li class="footer__col-item">
                <a href="#" class="footer__col-link link-effect">
                  Подписки и платежы
                </a>
              </li>
              <li class="footer__col-item">
                <a href="#" class="footer__col-link link-effect">
                  Об аналитике
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__col">
            <div class="footer__col-title">
              Личный кабинет:
            </div>
            <ul class="footer__col-list">
              <li class="footer__col-item">
                <a href="#" class="footer__col-link link-effect">
                  Войти
                </a>
              </li>
              <li class="footer__col-item">
                <a href="#" class="footer__col-link link-effect">
                  Анализ товаров
                </a>
              </li>
              <li class="footer__col-item">
                <a href="#" class="footer__col-link link-effect">
                  Анализ категорий
                </a>
              </li>
              <li class="footer__col-item">
                <a href="#" class="footer__col-link link-effect">
                  Настройки
                </a>
              </li>
              <li class="footer__col-item">
                <a href="#" class="footer__col-link link-effect">
                  Статистика
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__col">
            <div class="footer__col-title">
              Документация:
            </div>
            <ul class="footer__col-list">
              <li class="footer__col-item">
                <a href="#" class="footer__col-link link-effect">
                  Политика когфиденциальности
                </a>
              </li>
              <li class="footer__col-item">
                <a href="#" class="footer__col-link link-effect">
                  Пользовательское
                  Соглашение
                </a>
              </li>
              <li class="footer__col-item">
                <a href="#" class="footer__col-link link-effect">
                  Связь с нами
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__section">
        <div class="footer__brands">
          <img src="img/brands/visa.svg" alt="visa">
          <img src="img/brands/master-card.svg" alt="mastercard">
          <img src="img/brands/uzcard.svg" alt="uzcard">
          <img class="footer__brands-humo" src="img/brands/humo.png" alt="Humo">
          <img class="footer__brands-big" src="img/brands/click-uz.svg" alt="click">
          <img class="footer__brands-big" src="img/brands/pay-me.svg" alt="Pay me">

        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-inner">
        <div class="footer__bottom-links">
          <a href="./privacy-policy.html" class="footer__bottom-link">Политика конфиденциальности</a>
          <a href="./terms.html" class="footer__bottom-link">Пользовательское соглашение</a>
        </div>
        <div class="footer__bottom-copy">
          Statbook 2023 Все права защищены
        </div>
      </div>
    </div>
  </div>
</footer>
