// если вы хотите использовать sass-переменные - удалите root
// colors

// base
$font-family: "Qanelas", sans-serif;
$secondary-font-family: "Open Sans", sans-serif;
$content-width: 1280px;
$max-content-width: 1900px;
$container-offset: 15px;
$container: calc($content-width + ($container-offset * 2));
$max-container: calc($max-content-width + ($container-offset * 2));

//for adaptive value
$container-for-adaptive: 1280;
$max-container-for-adaptive: 1800;

// colors
$light-color: #fff;
$color-darkblack: #000;
$color-blue-24: rgb(0, 11, 24); // #000b18
$color-blue-35: rgb(4, 15, 35); // #040f23
$color-light-blue: rgb(124, 150, 255); //#7c96ff
$color-blue: #224dff;
$color-gray: #f9f9f9;
$color-error: #c24141;
// screen size

$xsm: 370px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
